.box{border-color:#a3a3a3;border-width:thin;border-style:solid;border-radius:3px}.searchBtn{height:50px!important;margin-top:0;margin-bottom:0;margin-right:.5rem}.sc-ion-searchbar-md-h{--box-shadow: none !important}
