# Mysql configurations
default: &default
  host: mysqldb
  adapter: mysql2
  username: root
  password: password
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  checkout_timeout: 10000
  timeout: 10000

development:
  <<: *default
  database: emastercard2
test:
  <<: *default
  database: emastercard2_test

production:
  <<: *default
  database: emastercard2_prod
