# Site prefix to be used in ARV numbers (eg LLH)
site_prefix:
# User to create records as:
emr_user_id: 1
# Current facility location id (defaults is ART Clinic - 764)
emr_location_id: 764

emastercard:
  engine: mysql2
  host: 172.17.0.1
  port: 3306
  username: root
  password: root
  database: emastercard35

emr:
  engine: mysql2
  host: mysqldb
  port: 3306
  username: root
  password: password
  database: emastercard2